In [0]:
import pandas as pd

#Cargamos el dataset a partir del cual generaremos los features

In [0]:

torneo13_14 = pd.read_csv("PremierLeague13-14.csv")

In [0]:
torneo13_14

    Div      Date     HomeTeam     AwayTeam  ...  BbMxAHH  BbAvAHH BbMxAHA  BbAvAHA
0    E0  17/08/13      Arsenal  Aston Villa  ...      NaN      NaN     NaN      NaN
1    E0  17/08/13    Liverpool        Stoke  ...      NaN      NaN     NaN      NaN
2    E0  17/08/13      Norwich      Everton  ...      NaN      NaN     NaN      NaN
3    E0  17/08/13   Sunderland       Fulham  ...      NaN      NaN     NaN      NaN
4    E0  17/08/13      Swansea   Man United  ...      NaN      NaN     NaN      NaN
..   ..       ...          ...          ...  ...      ...      ...     ...      ...
375  E0  11/05/14      Norwich      Arsenal  ...     1.85     1.80    2.12     2.07
376  E0  11/05/14  Southampton   Man United  ...     1.90     1.86    2.06     1.99
377  E0  11/05/14   Sunderland      Swansea  ...     2.40     2.30    1.68     1.63
378  E0  11/05/14    Tottenham  Aston Villa  ...     1.86     1.77    2.20     2.10
379  E0  11/05/14    West Brom        Stoke  ...     1.85     1.76    2.18     2.11

[380 rows x 65 columns]

In [15]:
#Comencemos por saber cuantas categoríías tenemos en nuestro dataset
torneo13_14.groupby(['Div']).size()
# A partir de esto sabemos que todos los equipos pertenecen a la division
#E0

Div
E0    380
dtype: int64

#Ahora veremos cuantos equipos tenemos en esta division

In [0]:
#Lista de equipos de la liga
teamsLeague = torneo13_14['HomeTeam'].unique().tolist()

In [20]:
len(teamsLeague)

20

#Ahora debo preparar el dataset de entrenamiento  
las features van a ser por cada equipo en base a los datos de la temporada anterior:  


1.   media del total de goles como visitante del torneo anterior
2.   media del total de goles como local del torneo anterior  
3.   media del total de corners por partidos hechos
4.   media del total de corners recibidos por partido
5.   media de tiros al arco recibidos
6.   media de tiros al arco hechos
7.   Si era visitante o local

Una vez tenga el dataframe con la información estaremos listos para entrenar el modelo.

## Para generar el label de los features utilizaremos el resultado de los partidos del torneo siguiente al que pertenecen los features

In [0]:
#Creamos nuestro dataframe donde agregaremos los features de cada equipo
df = pd.DataFrame([], columns = ['TeamName', 'MediaGolesLocal', 'MediaGolesVisitante', 'MediaCornersAtaque', 'MediaCornersDefensa', 'MediaTirosAlArcoAtaque', 'MediaTirosAlArcoRecibidos'])
# la columna de si era visitante o local lo agregamos dependiendo el partido ;)

In [22]:
df

Empty DataFrame
Columns: [TeamName, MediaGolesLocal, MediaGolesVisitante, MediaCornersAtaque, MediaCornersDefensa, MediaTirosAlArcoAtaque, MediaTirosAlArcoRecibidos]
Index: []

In [28]:
#vamos a calcular la media de goles como locales de cada equipo de la liga
torneo13_14.loc[['HomeTeam'] == teamsLeague[0]]

KeyError: ignored